<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebNgheNhac</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/form.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>

    <div>

        <header class="header g-dark">

            <div class="inner-header">

                <div class="header-icon">
                    <a asp-controller="home" asp-action="index">
                        <img src="~/images/home/logo.png" alt="Icon" class="icon-img" />
                    </a>
                </div>

                <nav class="header-nav">
                    <ul class="ul-header">
                        <li class="li-border">
                            <a class="a-style" asp-controller="home" asp-action="index">
                                <i class="fa-solid fa-house"></i>
                            </a>
                        </li>

                    </ul>
                </nav>

                <div class="search-container">
                    <form class="search-form" asp-controller="Home" asp-action="Search" method="get">
                        <select class="search-type" name="searchType">
                            <option value="song">Bài hát</option>
                            <option value="artist">Nghệ sĩ</option>
                        </select>
                        <input class="search-input" type="text" name="query" placeholder="Nhập từ khóa tìm kiếm..." />
                        <button class="search-icon" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </form>
                </div>



                <!-- sign-in and upload section -->
                @await Html.PartialAsync("_LoginPartial")



            </div>

        </header>



            <!-- Nội dung chính -->
            <div class="main-content">
                @RenderBody()
            </div>




        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)

    </div>
</body>
</html>
