<div class="sign-in">
    @if (User.Identity.IsAuthenticated)
    {
        <div class="dropdown">
            <span class="dropdown-toggle" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                Hello, @User.Identity.Name
            </span>
            <ul class="dropdown-menu" aria-labelledby="userDropdown">
                <li><a class="dropdown-item" asp-controller="Account" asp-action="EditProfile">Edit Profile</a></li>
                <li><a class="dropdown-item" asp-controller="Account" asp-action="Logout">Logout</a></li>
            </ul>
        </div>

        <a class="upload" asp-controller="songs" asp-action="upload">Upload</a>
    }
    else
    {
        <button class="button-signin">
            <a class="login-a" asp-controller="Account" asp-action="Login">Đăng nhập</a>
        </button>

        <button class="button-signup">
            <a class="login-a" asp-controller="Account" asp-action="Register">Đăng ký</a>
        </button>
    }

</div>
