@model WebNgheNhacTrucTuyen.ViewModels.UpdatePlaylistViewModel

@{
    ViewData["Title"] = "Tạo Playlist";
    Layout = "~/Views/Shared/_AlbumLayout.cshtml";
}

<h2>Tạo Playlist</h2>

<form asp-action="Create" enctype="multipart/form-data" method="post">
    <div class="form-group" style="width: 70%;">
        <label for="playlistName">Tên Playlist</label>
        <input type="text" name="playlistName" class="form-control" required />
    </div>

    <div class="form-group" style="width: 70%;">
        <label for="playlistImage">Hình Ảnh</label>
        <input type="file" name="playlistImage" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Tạo Playlist</button>
</form>
