@model WebNgheNhacTrucTuyen.ViewModels.AlbumCreateViewModel

<h1>Create Album</h1>

<form asp-action="A_Create" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label asp-for="CoverImage">Cover Image</label>
        <input asp-for="CoverImage" type="file" class="form-control-file" />
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
