@model IEnumerable<WebNgheNhacTrucTuyen.Models.Users>

@{
    ViewData["Title"] = "Danh sách người dùng";
}

<h2>@ViewData["Title"]</h2>

<table class="table">
    <thead>
        <tr>
            <th>Email</th>
            <th>Username</th>
            <th>PhoneNumber</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Email</td>
                <td>@user.UserName</td>
                <td>@user.PhoneNumber</td>
            </tr>
        }
    </tbody>
</table>
