@model WebNgheNhacTrucTuyen.Models.Artists

<h1>Thêm nghệ sĩ mới</h1>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label for="ART_Name">Tên nghệ sĩ</label>
        <input asp-for="ART_Name" class="form-control" />
        <span asp-validation-for="ART_Name" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Lưu</button>
    <a asp-action="Index" class="btn btn-secondary">Hủy</a>
</form>
