@model WebNgheNhacTrucTuyen.Models.Artists

<h2>Xóa nghệ sĩ</h2>

<h4>Bạn có chắc muốn xóa nghệ sĩ này?</h4>
<div>
    <dl class="row">
        <dt class="col-sm-2">
            Tên nghệ sĩ
        </dt>
        <dd class="col-sm-10">
            @Model.ART_Name
        </dd>
    </dl>
</div>

<form asp-action="Delete">
    <input type="hidden" asp-for="ART_Id" />
    <button type="submit" class="btn btn-danger">Xóa</button>
    <a asp-action="Index" class="btn btn-secondary">Quay lại</a>
</form>
